<% content_for :javascript_includes do %>
  <%= javascript_include_tag "index.js" %>
<% end %>

<div class="row header">
  <div class="col-sm-8">
    <div class="logo-wrap">
      <%= image_tag('bio-io.png', class:'img-responsive') %>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-uppercase text-justify col-md-pull-right col-sm-pull-left">
      Design by Julian Goldman <br>
      Built by Roger Miller
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h5 class="text-uppercase sub-header">Welcome:</h5>
    <p class="grey-text text-uppercase">
      touch your fingers to the sensor pads below and upload your biometric
      data to the public internet
    </p>
    <span class="glyphicon glyphicon-arrow-down arrow grey-text"></span>
  </div>

<div class="col-sm-3 col-sm-offset-1">
  <h5 class="text-uppercase feedback-header">real-time feedback:</h4>
    <table class="table table-borderless">
      <tr>
        <td class='bio-icon'>
          <%= image_tag('heart.png', class: 'img-responsive') %>
        </td>
        <td class="heart-rate-container data-cell grey-text">
          0
        </td>
        <td>
          <div class="circle heart-circle"></div>
        </td>
      </tr>
      <tr>
        <td class='bio-icon'>
          <%= image_tag('sweat.png', class: 'img-responsive') %>
        </td>
        <td class="skin-response-container data-cell grey-text">
          0
        </td>
        <td>
          <div class="circle gsr-circle"></div>
        </td>
      </tr>

      <tr>
        <td class='bio-icon'>
          <%= image_tag('temperature.png', class: 'img-responsive temperature-image') %>
        </td>
        <td id="temp-readout" class="data-cell grey-text">
          0
        </td>
        <td>
          <div class="circle temp-circle">
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-sm-4">
    <div class="temp-container">
      <canvas id="temp-canvas" width=300 height=200></canvas>
    </div>
  </div>
</div>
