<!DOCTYPE html>
<html>
  <head>
    <title>OpenJulian</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <%= stylesheet_link_tag "application.css" %>

  </head>

  <body>
    <div id="wrapper" class="container-fluid">
      <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-4">
          <div class="logo-wrap">
            <%= image_tag('bio-io.png', class:'img-responsive') %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="stat-footer">
            <p>
              <span class="text-uppercase center-justified">YOU HAVE BEEN COLLECTING FOR:</span> <span class="grey-text">8 months</span>
            </p>
            <p>
              <span class="text-uppercase center-justified">YOU HAVE MADE:</span> <span class="grey-text">$1200</span>
            </p>
            <p>
              <span class="text-uppercase center-justified">YOU HAVE DONATED:</span> <span class="grey-text"> 104 hours of data</span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo-wrap">
            <%= image_tag('logo-button', class: 'img-responsive') %>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
