<!DOCTYPE html>
<html>
  <head>
    <title>OpenJulian</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <%= stylesheet_link_tag "application.css" %>

  </head>

  <body>
    <div id="main" class="container clear-top">
      <%= yield %>
    </div>
  </body>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="text-uppercase company-title">BIO I/O</h1>
          <span class="text-uppercase">Your Gateway to the Biometric Marketplace</span>
        </div>

        <div class="col-md-4">
          <div class="stat-footer">
            <p>
              <span class="text-uppercase">YOU HAVE BEEN COLLECTING FOR:</span> 8 months
            </p>

            <p>
              <span class="text-uppercase">YOU HAVE MADE:</span> $1200
            </p>

            <p>
              <span class="text-uppercase">YOU HAVE DONATED:</span>  104 hours of data
            </p>
          </div>
        </div>

        <div class="col-md-5">
          <h2 class="text-uppercase"> find opportunities</h2>
        </div>
      </div>
    </div>
  </div>
</html>
